.search-container {
  .search-input-container {
    margin-bottom: -8px;

    input {
      color: white;
      border-bottom-color: white;
      padding-right: 30px;
    }
  }

  .search-button {
    margin-left: -40px;
  }
}

.logo {
  margin-right: 30px;
}

.mobile-search {
  position: relative;
  width: 100%;

  input {
    display: inline-block;
    width: 100%;
    padding-right: 40px;
  }

  button,
  a {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
