.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in adminAccount.users')
      a(ui-sref="admin.accountEdit({ id: user._id })")
        strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='adminAccount.delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
